export PROJECT='learn-pks'

read_secret() {
    local path="$1"
    note="$(lpass show --notes $path)"
    if [ $? -ne 0 ]; then
        echo "Can't read LastPass note" >&2
        return 1
    fi
    echo "$note"
}

write_secret() {
    local path="$1"
    local contents="$2"
    lpass add --notes "$path" "$contents"
    if [ $? -ne 0 ]; then
        echo "Can't write LastPass note" >&2
        return 1
    fi
}

if [ -z "$GCP_PROJECT_ID" ]; then
    if ! GCP_PROJECT_ID="$(read_secret $PROJECT/GCP_PROJECT_ID)"; then
        read -s -p 'GCP project ID:' GCP_PROJECT_ID
        write_secret $PROJECT/GCP_PROJECT_ID "$GCP_PROJECT_ID"
    fi
    export GCP_PROJECT_ID
fi

